html {
	height: 100%;
	width: auto;
}

body {
	text-align :center;
	background: url("/ichigoichie/img/back.gif");
}

table, td, th {
	margin-right: auto;
	margin-left: auto;
	border: solid 1px #333;
	border-collapse: collapse;
}

#wrap {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	border: solid 1px #333;
}

#head {
	text-align: center;
	padding: 6px;
	border-top: solid 1px #333;
}

#alert {
	text-align: center;
	padding: 6px;
	border-top: solid 1px #333;
}

#modernizr {
	text-align: center;
	padding: 6px;
	border-top: solid 1px #333;
}

.friends {
	text-align: center;
	padding: 6px;
	border-top: solid 1px #333;
}

.tableCenter {
	margin-right: auto;
	margin-left: auto;
}

.post {
	padding: 6px;
}

#foot {
	border-top: solid 1px #333;
	text-align: center;
	padding: 80px;

	background: url("/ichigoichie/img/akiyama.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.posCenter {
	text-align: center;
}

.posRight {
	text-align: right;
}

.title {
	font-size: 300%;
}

#login {
	text-align: center;
}

.len9 {
	width: 9em;
	height: auto;
}

.len6 {
	width: 6em;
	height: auto;
}

.len3 {
	width: 3em;
	height: auto;
}

.lenauto {
	width: auto;
	height: auto;
}


.nolattice {
	border: solid 0px #333;
	border-collapse: collapse;
}
